<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.FirebirdDialect</property>
    <property name="hibernate.connection.driver_class">org.firebirdsql.jdbc.FBDriver</property>
    <property name="hibernate.connection.url">jdbc:firebirdsql:localhost:tailor</property>
    <property name="hibernate.connection.username">sysdba</property>
    <property name="hibernate.connection.password">masterkey</property>
    <property name="hibernate.connection.encoding">WIN1251</property>
    <property name="hibernate.show_sql">false</property>
    <mapping class="org.example.logic.Product"/>
    <mapping class="org.example.logic.Agent"/>
    <mapping class="org.example.logic.Document"/>
    <mapping class="org.example.logic.Measure"/>
    <mapping class="org.example.logic.Operation"/>
    <mapping class="org.example.logic.DocumentJournal"/>
    <mapping class="org.example.logic.LastText"/>
    <mapping class="org.example.logic.Color"/>
    <mapping class="org.example.logic.Kleevaya"/>
    <mapping class="org.example.logic.PrintDetali"/>
    <mapping class="org.example.logic.Raskladchik"/>
    <mapping class="org.example.logic.TipModel"/>
    <mapping class="org.example.logic.TipNastila"/>
    <mapping class="org.example.logic.Razmeri"/>
    <mapping class="org.example.logic.RazmeriGruppa"/>
    <mapping class="org.example.logic.RabotnikGruppa"/>
    <mapping class="org.example.logic.Rabotnik"/>
    <mapping class="org.example.logic.Sablon"/>
    <mapping class="org.example.logic.Sclad"/>
    <mapping class="org.example.logic.ScladProduct"/>
    <mapping class="org.example.logic.Files"/>
    <mapping class="org.example.logic.Report"/>
    <mapping class="org.example.logic.Model"/>
    <mapping class="org.example.logic.ModelProduct"/>
    <mapping class="org.example.logic.ModelPrintDetali"/>
    <mapping class="org.example.logic.ModelKleevaya"/>
    <mapping class="org.example.logic.ModelSablon"/>
    <mapping class="org.example.logic.ModelFiles"/>
    <mapping class="org.example.logic.TipProduct"/>
    <mapping class="org.example.logic.Zadacha"/>
    <mapping class="org.example.logic.ZadachaRazmeri"/>
    <mapping class="org.example.logic.ZadachaProduct"/>
    <mapping class="org.example.logic.ZadachaScladProduct"/>
    <mapping class="org.example.logic.TipNastilania"/>
    <mapping class="org.example.logic.ZadachaNastil"/>
    <mapping class="org.example.logic.ZadachaNastilProduct"/>
    <mapping class="org.example.logic.Setup"/>
    <mapping class="org.example.logic.DocumentReturn"/>
    <mapping class="org.example.logic.Razrad"/>
    <mapping class="org.example.logic.ModelOperation"/>
    <mapping class="org.example.logic.ZadachaFurnitura"/>
    <mapping class="org.example.logic.ZadachaKomplektovka"/>
    <mapping class="org.example.logic.ZadachaKomplektovkaRazmeri"/>
    <mapping class="org.example.logic.RabotnikOperation"/>
    <mapping class="org.example.logic.OperationGruppa"/>
    <mapping class="org.example.logic.OperationText"/>
    <mapping class="org.example.logic.Operator"/>
    <mapping class="org.example.logic.OperatorSetup"/>
    <mapping class="org.example.logic.SetupName"/>
    <mapping class="org.example.logic.ZadachaNastilDop"/>
    <mapping class="org.example.logic.ZadachaPrintDetali"/>
    <mapping class="org.example.logic.ZadachaNastilPrintDetali"/>
    <mapping class="org.example.logic.ProductGruppa"/>
    <mapping class="org.example.logic.analit.aArticle"/>
    <mapping class="org.example.logic.analit.aColor"/>
    <mapping class="org.example.logic.analit.aGruppa1"/>
    <mapping class="org.example.logic.analit.aGruppa2"/>
    <mapping class="org.example.logic.analit.aJournal"/>
    <mapping class="org.example.logic.analit.aRazmer"/>
    <mapping class="org.example.logic.analit.aGetGruppa2"/>
    <mapping class="org.example.logic.analit.tAJ"/>
    <mapping class="org.example.logic.ZadachaKomplektovkaPretenzia"/>
    <mapping class="org.example.logic.DocReturn"/>
    <mapping class="org.example.logic.DocReturnJournal"/>
    <mapping class="org.example.logic.Revizia"/>
    <mapping class="org.example.logic.ReviziaJournal"/>
    <mapping class="org.example.logic.ZadachaDopScladProduct"/>
    <mapping class="org.example.logic.plan.PTimeOpChex"/>
    <mapping class="org.example.logic.plan.PModelPlan"/>
    <mapping class="org.example.logic.ZadachaKomplektovkaPretenziaRazmer"/>
    <mapping class="org.example.logic.plan.PModelPlanRazmeri"/>
    <mapping class="org.example.logic.plan.PModelPlanProduct"/>
    <mapping class="org.example.logic.plan.PZakupki"/>
    <mapping class="org.example.logic.plan.PZakupkiJournal"/>
    <mapping class="org.example.logic.Uchet.UDocument"/>
    <mapping class="org.example.logic.Uchet.UOperation"/>
    <mapping class="org.example.logic.MarshrutAll"/>
    <mapping class="org.example.logic.DocumentF"/>
    <mapping class="org.example.logic.DocumentFJournal"/>
    <mapping class="org.example.logic.ScladProductF"/>
    <mapping class="org.example.logic.FurnituraChex"/>
    <mapping class="org.example.logic.FurnituraOff"/>
    <mapping class="org.example.logic.FurnituraOffAll"/>
    <mapping class="org.example.logic.FurnituraScladAll"/>
    <mapping class="org.example.logic.DocReturnF"/>
    <mapping class="org.example.logic.DocReturnFJournal"/>
    <mapping class="org.example.logic.FurnituraScladOff"/>
    <mapping class="org.example.logic.GetHistoryFurnitura"/>
    <mapping class="org.example.logic.FurnituraReturnSclad"/>
    <mapping class="org.example.logic.MProperty"/>
    <mapping class="org.example.logic.MModelProperty"/>
    <mapping class="org.example.logic.MModelComment"/>
    <mapping class="org.example.logic.GetProductAnalizNovinka"/>
    <mapping class="org.example.logic.LModel1"/>
    <mapping class="org.example.logic.analit.Get_TimeOp_for_ModelPlan"/>
    <mapping class="org.example.logic.LRabotnikOperation"/>
    <mapping class="org.example.logic.analit.aOperation"/>
    <mapping class="org.example.logic.analit.aSclad"/>
    <mapping class="org.example.logic.plan.PCalendar"/>
    <mapping class="org.example.logic.analit.aAgent"/>
    <mapping class="org.example.logic.ViewMarshrut"/>
    <mapping class="org.example.logic.ViewSP"/>
    <mapping class="org.example.logic.ScladLoskut"/>
    <mapping class="org.example.logic.ScladLoskutSale"/>
    <mapping class="org.example.logic.ScladLoskutSaleOp"/>
    <mapping class="org.example.logic.plan.PModelYar"/>
    <mapping class="org.example.logic.ModelChex"/>
    <mapping class="org.example.logic.Uchet.UOperDoc"/>
    <mapping class="org.example.logic.Uchet.UOperJou"/>
    <mapping class="org.example.logic.plan.PModelPlanHaupt"/>
    <mapping class="org.example.logic.plan.PModelPlanHauptJournal"/>
    <mapping class="org.example.logic.OperationHistory"/>
    <mapping class="org.example.logic.plan.PTimeChex"/>
    <mapping class="org.example.logic.ZLog"/>
    <mapping class="org.example.logic.LSZadacha"/>
    <mapping class="org.example.logic.OperatorChexStop"/>
    <mapping class="org.example.logic.plan.PlanArticle"/>
    <mapping class="org.example.logic.plan.MapProject"/>
    <mapping class="org.example.logic.plan.MapProjectMont"/>
    <mapping class="org.example.logic.plan.MapProjectMontJournal"/>
    <mapping class="org.example.logic.plan.MapProjectJournal"/>
    <mapping class="org.example.logic.plan.LMapProjectJournalGroupt"/>
    <mapping class="org.example.logic.plan.LMapProjectJournalGrouptColor"/>
    <mapping class="org.example.logic.plan.LMapProjectJournal"/>
    <mapping class="org.example.logic.plan.MapArticleColorJoin"/>
    <mapping class="org.example.logic.plan.MapExceptionArticle"/>
    
  </session-factory>
</hibernate-configuration>
